@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Oswald|PT+Serif|Raleway|Roboto');
@import url('style.css');

body {
    margin: 0px;
    padding: 0px;

    font-family: 'Roboto', sans-serif;
}

#loginForm {
    margin-top: 20mm;
    background-color: #aaa;
    color: #000;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    padding-left: 5mm;
    padding-right: 5mm;
    padding-bottom: 5mm;
    padding-top: 15mm;
    border-top-left-radius: 5mm;
    border-top-right-radius: 5mm;
    border-bottom-left-radius: 5mm;
    border-bottom-right-radius: 5mm;
    position: relative;
    overflow: hidden;
}

#loginForm:before {
    content: 'Please enter login and password';
    display: block;
    background-color: #888;
    color: #fff;
    position: absolute;
    top: 0mm;
    width: calc( 100% + 0mm );
    left: -5mm;
    padding-left: 10mm;
    font-size: 20pt;
    padding-top: 1.5mm;
    padding-bottom: 1.5mm;
    text-align: center;
}

.username label, .password label {
    display: block;
    margin-top: 3mm;
    width: 100%;
    text-align: center;
    color: #fff;
}

.username input, .password input {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 16pt;
    background-color: #fff;
    color: #000;
    border: 0px none;
}

.submit {
    margin-top: 3mm;
    display: block;
    text-align: center;
}

.submit input {
    border: 0px none;
    padding-left: 5mm;
    padding-right: 5mm;
    padding-top: 2mm;
    padding-bottom: 2mm;
    background-color: #888;
}

.submit input:hover {
    background-color: #555;
}

.error, .logout {
    display: block;
    text-align: center;
    margin-top: 10mm;
}

.error {
    color: rgb(200,0,0);
}