@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Oswald|PT+Serif|Raleway|Roboto');

/*
font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'EB Garamond', serif;
*/

body {
    margin: 0px;
    padding-top: 22mm;
    padding-left: 10mm;
    padding-right: 10mm;

    font-family: 'PT Serif', serif;
    font-size: 14pt;
}

.header {
    background-color: #000000;
    color: #fff;

    padding-top: 2mm;
    padding-bottom: 2mm;

    position: absolute;
    width: calc( 100% - 10mm );
    top: 0px;
    left: 0px;

    padding-left: 10mm;

    font-family: 'Oswald', sans-serif;
}

.header a {
    color: #67b1ef;
    text-decoration: none;
}

.header h1 {
    display: inline;
}

.header .actions {
    float: right;
    margin-right: 3mm;
    margin-top: 2mm;
}